.accordion-block {
  .blocks-form,
  .content {
    padding: 15.750px 21px !important;
  }
  .accordion {
    .accordion-title {
      background: @primaryColor !important;
      color: @primaryText !important;
      font-size: 21px !important;

      &.active {
        font-weight: 600 !important;
      }
    }
  }
}
