.text-button.btn-block,
a.text-button.btn-block {
  &,
  #main & {
    position: relative;
    display: inline-block;
    min-height: 53px;
    padding: 7px 17px;
    border: 1px solid @primaryColor;
    background-color: @primaryColor;
    border-radius: 0;
    box-shadow: none;
    color: @primaryText;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.7;
    text-shadow: none;
    text-transform: none;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    &.secondary {
      border-color: @primaryColor;
      background-color: @primaryColor;
      color: @primaryText;

      &::after {
        border-left-color: @primaryColor;
      }
    }

    &:hover,
    &:focus {
      border-color: @theme-color-dark-blue;
      background-color: @theme-color-dark-blue;
      color: @primaryText;
      text-decoration: none;

      &::after {
        border-left-color: @theme-color-dark-blue;
      }
    }
  }
}
