.block.text-highlight {
  display: flex;
  min-height: 70px;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
  margin-bottom: 3rem;
  background-color: @highlightColor;

  &:not(.edit-mode) {
    min-height: 70px;
    margin-top: -4rem;
  }

  .text-slate-editor-inner {
    width: 100%;

    .slate-editor {
      div[data-slate-editor] {
        min-height: auto !important;
      }
    }
  }

  p {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    color: @highlightText;
    font-family: @contentTitleFont;
    letter-spacing: 1.2px !important;
    font-size: 24px;
    line-height: 1.714;
    text-align: center;

    a {
      border-bottom: 2px solid @highlightText !important;
      margin-left: 0px !important;
      color: @highlightText !important;
      text-decoration: none !important;

      &:hover,
      &:focus {
        border-bottom: 2px solid transparent !important;
        text-decoration: none !important;
      }
    }
  }
}
